article {
    width: 390px;
    padding:10px;
    margin: 10px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline;
}
.places > h1 {
    font-size: 30px;
    display: block;
    margin-right: 1000;
    padding-right: 1000;
    margin: 20px;
}
article > h2 {
    font-size: 30px;
    text-align: center;
}
.places {
    display: flex;
    flex-wrap: wrap;

}